<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cgi.sdm_project">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".util.singletons.AppSingleton"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".igu.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".igu.ConfiguracionActivity"
            android:parentActivityName=".igu.MainActivity" />
        <activity
            android:name=".igu.sorteo.SortearActivity"
            android:parentActivityName=".igu.MainActivity" />
        <activity
            android:name=".igu.sorteo.ResultadoSorteoActivity"
            android:parentActivityName=".igu.sorteo.SortearActivity" />
        <activity
            android:name=".igu.juego.InicioJuegoActivity"
            android:parentActivityName=".igu.MainActivity" />
        <activity
            android:name=".igu.juego.ElegirJugadoresActivity"
            android:parentActivityName=".igu.juego.JuegoPersonalizadoActivity" />
        <activity
            android:name=".igu.juego.JuegoPersonalizadoActivity"
            android:parentActivityName=".igu.juego.InicioJuegoActivity" />
        <activity android:name=".igu.juego.loop.PreguntaActivity" />
        <activity android:name=".igu.juego.loop.VotacionActivity" />
        <activity android:name=".igu.juego.loop.RetoActivity" />
        <activity android:name=".igu.juego.loop.HastaQueActivity" />
        <activity android:name=".igu.juego.loop.ResultadoActivity" />
        <activity android:name=".igu.juego.loop.NotificacionActivity" />
        <activity android:name=".igu.juego.loop.CamaraActivity" />
        <activity android:name=".igu.juego.loop.TrabalenguasActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths"></meta-data>
        </provider>
    </application>

</manifest>