<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cgi.sdm_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VotacionActivity" />
        <activity
            android:name=".ResultadoSorteoActivity"
            android:parentActivityName=".SortearActivity" />
        <activity android:name=".ResultadoActivity" />
        <activity android:name=".JuegoActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ConfiguracionActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SortearActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".JuegoPersonalizadoActivity"
            android:parentActivityName=".JuegoActivity" />
        <activity
            android:name=".ElegirJugadoresActivity"
            android:parentActivityName=".JuegoPersonalizadoActivity" />
        <activity android:name=".JuegoPreguntaActivity"></activity>
    </application>

</manifest>